
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    width:1260px;
    height: 600px;
    /*background-color:green;*/
}

#introductionWrapper{
  width:740px;
  text-align:center;
  /*background-color:red;*/
}

#introduction{
  font-size:14px;
  text-align:center;
  font-family: 'verdana';
  font-weight:bold;
}

#littleWords{
  font-size:10px;
}

#sayYeah{
  word-wrap:break-word;
  color:black;
  font-size:10px;
  width:400px;
  margin-left:50px;
  margin-top:150px;
}

#TVbutton{
  font-family: 'verdana';
  position:absolute;
  right:205px;
  top:230px;
  /*font-weight:bold;*/
  font-size:20px;
}

#channels{
  font-family: 'verdana';
  position:absolute;
  right:145px;
  top:275px;
  /*font-weight:bold;*/
  font-size:20px;
}

#biography{
  font-family: 'verdana';
  position:absolute;
  right:87px;
  top:320px;
  /*font-weight:bold;*/
  font-size:20px;
}

#portfolio{
  font-family: 'verdana';
  position:absolute;
  right:115px;
  top:342px;
  /*font-weight:bold;*/
  font-size:20px;
}

#tint{
  font-family: 'verdana';
  position:absolute;
  right:190px;
  top:375px;
  /*font-weight:bold;*/
  font-size:20px;
}

#resumeChannel{
  font-family: 'verdana';
  position:absolute;
  right:100px;
  top:415px;
  /*font-weight:bold;*/
  font-size:20px;
}

#contactChannel{
  font-family: 'verdana';
  position:absolute;
  right:127px;
  top:440px;
  /*font-weight:bold;*/
  font-size:20px;
}

#pointer1{
  position:absolute;
  height:50px;
  width:200px;
  right:215px;
  top:255px;
}

#pointer2{
  position:absolute;
  height:20px;
  right:230px;
  top:300px;
}

#pointer3{
  position:absolute;
  height:20px;
  right:230px;
  top:400px;
}

#pointer4{
  position:absolute;
  right:200px;
  top:368px;
  height:15px;
  width:200px;
}

#pointer5{
  position:absolute;
  height:65px;
  right:185px;
  top:432px;
  width:230px;
}

#pointer6{
  position:absolute;
  height:35px;
  right:175px;
  top:335px;
  width:230px;
}

#pointer7{
  position:absolute;
  height:55px;
  right:175px;
  top:405px;
  width:230px;
}


#box {
  height: 518px;
  width: 750px;
  margin: auto;
  /*background-color:black;*/
  }


#content_container {
  content:url(https://i.imgur.com/W3JBjsP.png);
  /*background-position: center;*/
  height: 518px;
  width: 750px;
  margin: auto;
        border-bottom-left-radius:10%;
    border-bottom-right-radius:10%;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
  /*background-color:black;*/

}



/*.content {
  position: relative;
    margin-left: auto;
    margin-right: auto;
}*/

#bioContainer {
  /*opacity: 0.4;*/
  font-family: 'verdana';
  font-size: .8em;
  color: white;
  margin-left: 10px;
  /*margin-top: -457px;*/
  position:absolute;
  /*background-color: white;*/
  width: 460px;
  height: 345px;
  /*border-style: solid;*/
    /*background-color:rgba(0,0,0,0.0);*/
  border-radius: 5px 5px 5px 5px;
  overflow-x:none;
  overflow-y: auto;
  /*padding-right: 28px;*/
  border-bottom-left-radius:10%;
  border-bottom-right-radius:10%;
  border-top-left-radius:10%;
  border-top-right-radius:10%;
  z-index: 1;
    
}

#projectContainer {
  /*opacity: 0.4;*/
  font-family: 'verdana';
  font-size: .8em;
  color: white;
  margin-left: 10px;
  /*margin-top: -457px;*/
  position:absolute;
  /*background-color: white;*/
  width: 460px;
  height: 345px;
  /*border-style: solid;*/
    /*background-color:rgba(0,0,0,0.0);*/
  border-radius: 5px 5px 5px 5px;
  overflow-x:none;
  overflow-y: auto;
  /*padding-right: 28px;*/
  border-bottom-left-radius:10%;
  border-bottom-right-radius:10%;
  border-top-left-radius:10%;
  border-top-right-radius:10%;
  z-index: 1;
    
}

#content {
  /*opacity: 0.4;*/
  font-family: 'verdana';
  font-size: .8em;
  color: white;
  margin-left: 60px;
  margin-top: -465px;
  /*background-color:black;*/
  /*position:absolute;*/
  /*background-color: white;*/
  width: 485px;
  height: 350px;
  /*border-style: solid;*/
    /*background-color:rgba(0,0,0,0.0);*/
  border-radius: 5px 5px 5px 5px;
  overflow-x:none;
  overflow-y: auto;
  /*padding-right: 28px;*/
  border-bottom-left-radius:10%;
  border-bottom-right-radius:10%;
  border-top-left-radius:10%;
  border-top-right-radius:10%;
  z-index: 1;
  animation: border-flicker 2s linear infinite;
}

#content_tv {
  /*opacity: 0.4;*/
  font-family: 'verdana';
  font-size: .8em;
  color: white;
  margin-left: 0px;
  margin-top: -457px;
  /*position:absolute;*/
  background-color: white;
  width: 562px;
  height: 366px;
  /*border-style: solid;*/
    /*background-color:black;*/
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
    /*padding-right: 28px;*/
    border-bottom-left-radius:10%;
    border-bottom-right-radius:10%;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
    z-index: 10;
    
}


#heading {
  margin-left: 15%;
  margin-top: 2%;
  position: absolute;
  font-family: 'verdana';
  color: black;
}

#name {
  margin-top: 10px;
  margin-left:205px;
  font-family: 'verdana';
  font-size: 25px;
  /*position: absolute;*/
  color: black;
}

#title {
  margin-top: -20px;
  margin-left:205px;
  font-family: 'verdana';
  font-size: 7px;
  /*position: absolute;*/
  color: black;
}
#exp {
  margin-top: 10px;
  margin-left:15px;
  font-family: 'verdana';
  font-size: 12px;
  position: absolute;
  color: black;
}
#tv {
  width: 475px;
  height: 317px;
  /*position: absolute;*/
  margin-left: -2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  overflow-x: none;
  overflow-y: none;
  z-index: -1; position:absolute
}

#snowscreen {
  width: 500px;
  height: 367px;
  margin-left: 0px;
  margin-top: -10px;
  position: absolute;
  overflow-x: none;
  overflow-y: none;
  z-index: -2; position:absolute
}

#octopus {
  width: 500px;
  height: 367px;
  margin-left: 0px;
  margin-top: -10px;
  position: absolute;
  overflow-x: none;
  overflow-y: none;
  z-index: -2; position:absolute
}

#road {
  width: 500px;
  height: 367px;
  margin-left: 0px;
  margin-top: -10px;
  position: absolute;
  overflow-x: none;
  overflow-y: none;
  z-index: -2; position:absolute
}

#shy {
  width: 500px;
  height: 367px;
  margin-left: 0px;
  margin-top: -10px;
  position: absolute;
  overflow-x: none;
  overflow-y: none;
  z-index: -2; position:absolute
}

#crazy {
  width: 500px;
  height: 367px;
  margin-left: 0px;
  margin-top: -10px;
  position: absolute;
  overflow-x: none;
  overflow-y: none;
  z-index: -2; position:absolute
}

#space {
  width: 500px;
  height: 367px;
  margin-left: 0px;
  margin-top: -10px;
  position: absolute;
  overflow-x: none;
  overflow-y: none;
  z-index: -2; position:absolute
}

#ball {
  width: 500px;
  height: 367px;
  margin-left: 0px;
  margin-top: -10px;
  position: absolute;
  overflow-x: none;
  overflow-y: none;
  z-index: -2; position:absolute
}

#burger {
  width: 500px;
  height: 367px;
  margin-left: 0px;
  margin-top: -10px;
  position: absolute;
  overflow-x: none;
  overflow-y: none;
  z-index: -2; position:absolute
}

#barsTV {
  width: 500px;
  height: 367px;
  margin-left: 0px;
  margin-top: -10px;
  /*position: absolute;*/
  overflow-x: none;
  overflow-y: none;
  z-index: -2; position:absolute
}

#contactContainer{
  margin:0 auto;
  width: 300px;
  height:200px;
  z-index:100;
  /*background-color:black;*/
}

#contact_email {
  display:block;
  margin:0 auto;
  margin-top:140px;
  text-align: center;
  font-size: 15px;
  font-family: 'verdana';
  font-weight: bold;
  text-decoration:none;
  /*background-color:black;*/
  /*position: absolute;*/
  color: black;
  /*text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;*/
}

#contact_email:hover { 
  font-family: 'verdana';
  font-weight: bold;
  color: #686868;
  text-decoration: none;
}

#contact_phone {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-family: 'verdana';
  font-weight: bold;
  /*position: absolute;*/
  color: black;
  /*text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;*/
}

#sites_github {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-left:205px;
  margin-top: 0px;
  position: relative;
}

#sites_github:hover { 
  font-family: 'verdana';
  font-weight: bold;
    color: #686868;
    text-decoration: none;
}

#sites_linkedin {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-left:10px;
  /*margin-top:100px;*/
  position: relative;
}

#sites_linkedin:hover { 
  font-family: 'verdana';
  font-weight: bold;
    color: #686868;
    text-decoration: none;
}

#sites_link {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: underline;
  margin-left:205px;
  margin-top:-155px;
  position: relative;
}

#tell{
  font-size:10px;
}

#sites_hotel{
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  /*margin: 0 auto;*/
  /*margin-left:70px;*/
  margin-top:20px;
  /*position: absolute;*/
  font-size: 17px;
  width: 100%;
  text-align: center;
}

#sites_hotel:hover { 
  font-family: 'verdana';
  font-weight: bold;
  color: #686868;
  text-decoration: none;
}

#disclaimer{
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top:30px;
  font-size:10px;
}

#sites_rocket {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  /*margin: 0 auto;*/
  /*margin-left:70px;*/
  margin-top:20px;
  /*position: absolute;*/
  font-size: 17px;
  width: 100%;
  text-align: center;
}

#sites_rocket:hover { 
  font-family: 'verdana';
  font-weight: bold;
  color: #686868;
  text-decoration: none;
}

#sites_illuminator{
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  /*margin: 0 auto;*/
  /*margin-left:70px;*/
  margin-top:20px;
  /*position: absolute;*/
  font-size: 17px;
  width: 100%;
  text-align: center;
}

#sites_illuminator:hover { 
  font-family: 'verdana';
  font-weight: bold;
  color: #686868;
  text-decoration: none;
}

#sites_user{
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  /*margin: 0 auto;*/
  /*margin-left:70px;*/
  margin-top:20px;
  /*position: absolute;*/
  font-size: 17px;
  width: 100%;
  text-align: center;
}

#sites_user:hover { 
  font-family: 'verdana';
  font-weight: bold;
  color: #686868;
  text-decoration: none;
}

#sites_keys {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  /*margin: 0 auto;*/
  /*margin-left:100px;*/
  margin-top:20px;
  /*position: absolute;*/
  font-size: 17px;
  width: 100%;
  text-align: center;
}

#sites_keys:hover { 
  font-family: 'verdana';
  font-weight: bold;
    color: #686868;
    text-decoration: none;
}

#sites_jr {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  /*margin: 0 auto;*/
  /*margin-left:70px;*/
  margin-top:20px;
  /*position: absolute;*/
  font-size: 17px;
  width: 100%;
  text-align: center;
  /*background-color:black;*/
}

#sites_jr:hover { 
  font-family: 'verdana';
  font-weight: bold;
    color: #686868;
    text-decoration: none;
}

#sites_seafood {
   font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  /*margin: 0 auto;*/
  /*margin-left:70px;*/
  margin-top:20px;
  /*position: absolute;*/
  font-size: 17px;
  width: 100%;
  text-align: center;
}

#sites_seafood:hover { 
  font-family: 'verdana';
  font-weight: bold;
    color: #686868;
    text-decoration: none;
}


#sites_boro {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  display: block;
  /*margin: 0 auto;*/
  /*margin-left:70px;*/
  margin-top:20px;
  /*position: absolute;*/
  font-size: 17px;
  width: 100%;
  text-align: center;
}

#sites_boro:hover { 
  font-family: 'verdana';
  font-weight: bold;
    color: #686868;
    text-decoration: none;
}



#nameHahn{
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-left: 595px;
  margin-top: -517px;
  height:33px;
  position: absolute;
  /*background-color: black;*/
}

#menuSlide{
  position:absolute;
  width:20px;
  /*background-color: red;*/
  height:140px;
  z-index:10;
  margin-top:-262px;
  margin-left:608px;
  z-index:100;
}

#menuSlideContent{
  /*position:absolute;*/
  /*width:750px;*/
  /*background-color: red;*/
  height:50px;
  z-index:10;
  /*margin-top:-500px;*/
  margin-left:0px;
}


#snow{
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 0px;
  width:18px;
  height:18px;
  position: absolute;
  z-index:10;
  background: url('https://i.imgur.com/xVQ0Byb.png') no-repeat;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;;
  -o-border-radius:8px;
  outline:none;
}

#snow:hover { 
  font-family: 'verdana';
  font-weight: bold;
  color: #686868;
  text-decoration: none;
  cursor: pointer;
}

#about {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 30px;
  width:18px;
  height:18px;
  position: absolute;
  z-index:10;
  background: url('https://i.imgur.com/xVQ0Byb.png') no-repeat;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;;
  -o-border-radius:8px;
  outline:none;
}

#about:hover { 
  font-family: 'verdana';
  font-weight: bold;
  color: #686868;
  text-decoration: none;
  cursor:pointer;
}

#resumeLink {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 90px;
  width:18px;
  height:18px;
  position: absolute;
  z-index:10;
  background: url('https://i.imgur.com/xVQ0Byb.png') no-repeat;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;;
  -o-border-radius:8px;
  outline:none;
}

#resumeLink:hover { 
  font-family: 'verdana';
  font-weight: bold;
  color: #686868;
  text-decoration: none;
  cursor:pointer;
}

#project {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 60px;
  width:18px;
  height:18px;
  position: absolute;
  z-index:10;
  background: url('https://i.imgur.com/xVQ0Byb.png') no-repeat;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;;
  -o-border-radius:8px;
  outline:none;
}

#project:hover { 
  font-family: 'verdana';
  font-weight: bold;
  color: #686868;
  text-decoration: none;
  cursor:pointer;
}

#contact {
  font-family: 'verdana';
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-left: 0px;
  margin-top: 120px;
  width:18px;
  height:18px;
  position: absolute;
  z-index:10;
  background: url('https://i.imgur.com/xVQ0Byb.png') no-repeat;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;;
  -o-border-radius:8px;
  outline:none;
}

#contact:hover { 
  font-family: 'verdana';
  font-weight: bold;
  color: #686868;
  text-decoration: none;
  cursor:pointer;
}

#photo {
  width: 185px;
  height: 200px;
  margin-top: -42px;
  margin-left: 15px;
}

#resume_doc {
  width: 445px;
  height: 300px;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}



#rights {
  font-family: 'verdana';
  color: #FFFFFF;
  margin: auto;
  /*margin-top: 0px;*/
  /*position: absolute;*/
  margin-top:25px;
  height: 20px; 
  width: 790px; 
  font-size:12px;
  /*background-color:black;*/
  /*border-style: solid;*/
    /*background-color:rgba(0,0,0,0.5);*/
    /*border-radius: 5px 5px 5px 5px;*/
}

#copyright {
  font-family: 'verdana';
  color: black;
  margin-left: 25px;
  margin-top: 2px;
  position: absolute;
}

#cred{
  font-family: 'verdana';
  color: black;
  margin-left: 625px;
  margin-top: 2px;
  position: absolute;
}

#bg{
  position:absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 488px;
  height: 365px;
  margin-left:0px;
  margin-top:-5px;
  z-index:-1;
}

#wheelContent{
  position:absolute;
  margin-top:-275px;
  margin-left:670px;
  width:20px;
  height:160px;
  /*background-color:red;*/
}


.draggable_wp {
    position: absolute;
    /*left: 937px;*/
    top: 0px;
}
.el {
    width: 10px;
    height: 70px;
    z-index:10;
    background-color: #7C7367;
}
.handle {
    position: absolute;
    /*content:url(https://i.imgur.com/83IuJQe.png);*/
    left:0;
    top:75;
    width: 10px;
    height: 20px;
    z-index:10;
    background-color: #EFDDAA;
}


.draggable_wp2 {
    position: absolute;
    /*left: 937px;*/
    top: 89px;
}
.el2 {
    width: 10px;
    height: 70px;
    z-index:10;
    background-color: #7C7367;
}
.handle2 {
    position: absolute;
    /*content:url(https://i.imgur.com/83IuJQe.png);*/
    left:0;
    top:75;
    width: 10px;
    height: 20px;
    z-index:10;
    background-color: #EFDDAA;
}

#firstWheel {
  position:absolute;
  width:72px;
  margin-left:-29px;
  margin-top:-1px;
}

#secondWheel {
  position:absolute;
  width:72px;
  margin-left:-29px;
  margin-top:87px;
}

/*#bg-right {
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 85%;
  right: 0;
  z-index: -1;
}

#bg-left {
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 85%;
  z-index: 0;
}*/

/*#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: absolute;
  list-style: none;
}*/
/*#about {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 12px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  text-shadow: 2px 2px 3px #000000;
}*/
/*#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -ms-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
  background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}*/


@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(40deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}